/*General Style*/

body {
	background-color: aqua;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #291f1a;
    margin: 0;
}
/*h1 {
    text-align: center;
}*/

/*nav menu*/
#menu {
    width: 100%;
    position: fixed;
    text-align: right;  
    background-color: white;
    z-index: 2;

}

#menu .menu-item{
    display: inline-block;
    list-style: none;
    padding: 20px;
}


#menu .menu-item a:hover{
    color: #E8C46D;
}


#menu .menu-item a{
    text-decoration: none;
    color: green;
}
/*nav menu stop*/

/*header*/
#header {
    position: relative;
    text-align: center;
    z-index: 1;
}

#header img {
    width: 100%;
}

#header #main-header-text {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30%;
    font-size: 70px;
    font-weight: 700;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-transform: capitalize;
    color: #fff;
    font-weight: 300;
}

span {
    font-weight: 900;
    font-size: 90px;
    color: #1ac056;
    text-transform: uppercase;
}
/*header stop*/

