/*General Style*/
* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
}

span {
    font-weight: 400;
    color: #1ac056;
    text-transform: capitalize;
    }

h1, h2, h3, h4, h5, h6 { 
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
}

section {
    padding: 0 80px 100px;
    width: 100%;
}

section > h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
    
}
#header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    z-index: 1;
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*nav menu*/

#menu {
    width: 100%;
    position: fixed;
    text-align: right;  
    background-color: white;
    z-index: 2;
    left: 0;
    right: 0;

}

#menu .menu-item{
    display: inline-block;
    list-style: none;
    padding: 10px 40px;
    margin: 0;
}

#menu .menu-item>a{
    text-decoration: none;
    color: green;
}

#menu .menu-item a:hover{
    color: #E8C46D;
}

/*nav menu stop*/

/*header*/


.main-header-content {
    padding: 30vh;
}


.main-header-content #main-header-text {
    text-transform: capitalize;
    font-size: 4em;
    color: #fff;
    font-weight: 400;
    margin: 0;
}

.main-header-content #second-header-text {
    font-weight: 100;
    color: white;
    font-size: 2em;
    margin: 0;
    
}

/*header stop*/

/*about section*/

#about > .about_head {
    color: black;
    font-weight: 300px;
}

#about > figure {
    width: 50%;
    max-height: 350px;
    text-align: center;
    float: left;
    margin: 0;
}

#about > figure > img {
    width: 50%;
    margin: 0;
    border-radius: 10%;
    border: solid;
    border-width: 10px;
}

#about>article>p {
    font-weight: 300;
    line-height: 20px;
}

/*about section off*/

/*skills section on*/

#skills {
    margin: 3px;
    text-align: center;
}

.skill_icons > figure {
    display: inline-block;
    padding: 20px 20px
}