/*General Style*/

body {
    background-color: aqua;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
}

span {
    font-weight: 400;
    color: #1ac056;
    text-transform: uppercase;
    
}

#header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    z-index: 1;
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*nav menu*/

#menu {
    width: 100%;
    position: fixed;
    text-align: right;  
    background-color: white;
    z-index: 2;
    left: 0;
    right: 0;

}

#menu .menu-item{
    display: inline-block;
    list-style: none;
    padding: 10px 40px;
    margin: 0;
}

#menu .menu-item a{
    text-decoration: none;
    color: green;
}

#menu .menu-item a:hover{
    color: #E8C46D;
}

/*nav menu stop*/

/*header*/


.main-header-content {
    padding: 30vh;
}


.main-header-content #main-header-text {
    text-transform: capitalize;
    font-size: 4em;
    color: #fff;
    font-weight: 400;
    margin: 0;
}

.main-header-content #second-header-text {
    font-weight: 100;
    color: white;
    font-size: 2em;
    margin: 0;
    
}

.about_head {
    text-align: center;
}

#about > figure {
    width: 50%;
}

/*header stop*/

